// Add custom fonts by visiting and search https://fonts.google.com
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jua&display=swap');

// Import utilities.
@import 'utils/typography';
@import 'utils/colors';
@import 'utils/mixins';
@import 'utils/variables';

/* Global styles */
@import 'global/window';
@import 'global/grid';
@import 'global/flex';

/* Import sheets */
@import 'sheets/actor/sheet-explorer';

/* Styles limited to unified sheets */
.unified {
  @import 'components/content-link';
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/items';
  @import 'components/effects';
}
