@mixin element-invisible {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin hide {
  display: none;
}

// text mixins
.lower  { text-transform: lowercase; }
.upper  { text-transform: uppercase; }
.italic { font-style: italic; }

// variable fonts
.demi { font-weight: 600; }

// chisel effect 
.chisel-2px {
  box-shadow: 
    inset 0px 2px 0px 0px  rgba(black, 0.2),
    inset 0px -2px 0px 0px rgba(white, 0.2),
    inset 0px 0px 4px 0px rgba(black, 0.2);
}

.inv-chisel-2px {
  box-shadow: 
    inset 0px -2px 0px 0px  rgba(black, 0.2),
    inset 0px 2px 0px 0px rgba(white, 0.2),
    inset 0px 0px 4px 0px rgba(black, 0.2);
}
