/* Set type-face */
// Roboto
@font-face {
  font-family: Roboto;
  font-weight: 100 900;
  src: url('../fonts/Roboto/Roboto-Variable.ttf')
}

@font-face {
  font-family: Roboto;
  font-weight: 100 900;
  src: url('../fonts/Roboto/Roboto-Italic-Variable.ttf');
  font-style: italic;
}

// Crimsom Pro
@font-face {
  font-family: Crimsom Pro;
  font-weight: 100 900;
  src: url('../fonts/Crimson_Pro/CrimsonPro-Variable.ttf')
}

@font-face {
  font-family: Crimsom Pro;
  font-weight: 100 900;
  src: url('../fonts/Crimson_Pro/CrimsonPro-Italic-Variable.ttf');
  font-style: italic;
}

// Gasoek One
@font-face {
  font-family: Gasoek One;
  // font-weight: 100 900;
  src: url('../fonts/Gasoek_One/GasoekOne-Regular.ttf')
}

// Gasoek One
@font-face {
  font-family: Jua;
  // font-weight: 100 900;
  src: url('../fonts/Jua/Jua-Regular.ttf')
}