@use '../../utils' as *;
@use '../../components' as *;

/* ################# */
/* Creature Sheet    */
/* ################# */

.sheet.tif.creature {
  
  header.content-header {
    @extend %tif-frame; @extend .light; @extend .bt;
    
    padding: var(--tif-effect-item-gap);
    gap: var(--tif-effect-item-gap);
    align-items: start;
    
    .profile-img {
      flex: 0 0 72px;
      width: 72px;
    }
  }
  
  /* ----------------- */
  /* Navigation tabs   */
  /* ----------------- */
  
  nav.sheet-tabs.tabs {
    @extend %tif-frame;
    @extend .dark;
    
    margin: 0;
    padding: 6px 16px 0px;
  }
  
  nav.sheet-tabs.tabs {
    @extend %nav-tab-icons;
  }
  
  section.tab.active {
    height: 100%;
    max-height: 100%;
  }
}
