/* ################# */
/* Explorer Sheet    */
/* ################# */


.sheet.md6.explorer {
  
  header.content-header {
    padding: 16px;
    
    height: 150px;
    
    .profile-img {
      flex-basis: 1px;
      @extend .lar-image;
      width: 64px;
    }
  }
  
  /* ----------------- */
  /* Navigation tabs   */
  /* ----------------- */
  
  nav.sheet-tabs.tabs {
    @extend .md6-frame;
    @extend .dark;
    
    margin: 0;
    padding: 4px 16px;
  }
  
  nav.sheet-tabs.tabs {
    @extend %nav-tab-icons;
  }
  
  section.tab.active {
    height: 100%;
    max-height: 100%;
  }
  
  // TABS
  /* ----------------- */
  /* Inventory tab     */
  /* ----------------- */
  
  section.tab.inventory {
    align-content: start;
    align-items: start;

   display: flexbox;
    flex: 1 1 auto;
    flex-direction: row;
    
    .inventory, .item-properties {
      height: 80%;
    }
    
    .inventory {
      width: 20%;
      padding: 16px 24px;
      border-image-slice: 32 fill;
      border-image-width: 20px;
      border-image-outset: 0px ;
      border-image-repeat: stretch stretch;
      border-image-source: url("../assets/ui/sheets/actors/inventory-bg.webp");
      border-style: solid;
      
      .grid-items {
        // display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: max-content;
        gap: 1rem;
        
        .item {
          width: 0.5fr;
          padding: var(--md6-item-frame-padding);
          background: var(--md6-light-item-frame);
          background-size: 100%;
          
          &.selected {
            border: red 2px solid;
          }
        }
      }
    }
    
    .item-properties {
      padding: 16px;
      
      &.active {
        .prop-header {
          display: flex;
          align-items: start;
          justify-content: left;
          gap: 8px;
    
          img {
            width: 15%;
            flex-basis: 30%;
          }

          h3 {
            margin: 0
          }
        }
      }
    }
    
  }
  
  
}
