.sheet.md6.explorer {
  header.content-header {
    padding: 16px;
    
    height: 150px;
    
    .profile-img {
      flex-basis: 1px;
      @extend .lar-image;
      width: 64px;
    }
  }
  
  // Custom nav bar
  nav.sheet-tabs.tabs {
    @extend .md6-frame;
    @extend .dark;
    
    margin: 0;
    padding: 4px 16px;
  }
  
  // Custom nav tabs
  
  nav.sheet-tabs.tabs {
    @extend %nav-tab-icons;
  }
  
  section.tab.active {
    height: 100%;
    max-height: 100%;
  }
  
  section.inventory.active {
    align-content: start;
    // Inventory
    div.inventory {
      height: 80%;
      padding: 16px 24px;
      border-image-slice: 32 fill;
      border-image-width: 20px;
      border-image-outset: 0px ;
      border-image-repeat: stretch stretch;
      border-image-source: url("../assets/ui/sheets/actors/inventory-bg.webp");
      border-style: solid;
    }
    
    .grid-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      
      .item {
        width: 0.5fr;
        background-color: $md6-cream-10;
      }
    }
    
  }
  
  
}
