.sheet.unified.explorer {
  /* Color scheme */

  --background: #{$c-dark-green};
  --color-text-primary: #{$c-green};
  --color-header-background: #{$c-dark-green};
  --color-border: #{$c-green};
  .window-header {
    button { --button-text-color: #{$c-green}; } 
  }

  .sheet-tabs {
    --color-text-primary: #{$c-dark-green};
    --color-text-emphatic: var(--color-text-primary);
    background-color: $c-green;
    border: none;

    margin-bottom: 12px;
  }
}

.actor-info {
  gap: 6px;
  .flexrow, .form-group { align-items: self-end; }
}

/* Custom form-groups */
.sheet.unified.explorer:has(.form-group) {
  .header-fields {

    label { 
      @extend .lower, .demi, .italic;
      color: $c-dark-green;
      padding-left: 4px;
      background-color: $c-green;
      vertical-align: bottom;
      height: fit-content; 
    }

    input {
      --input-border-color: #{$c-green};
      --input-background-color: #{$c-dark-green};
      border-radius: 0;
      width: 12rem; 
    }
  }
}

/* Stats */
.sheet.unified.explorer {
  .stats.flexcol {
    gap: 12px;

    label {
      font-size: 2em;
    }
  }
}

section.tab.notes {
  .editor {
    // border-image-slice: 100 126 106 276 fill;
    // border-image-width: 20px 20px 20px 60.1px;
    // border-image-outset: 0px 0px 0px 0px;
    // border-image-repeat: stretch stretch;
    // border-style: solid;
    // border-image-source: url("../assets/art/paper-note.webp");

    height: 250px;
  }

  .editor-content {
    // padding: 16px 16px 16px 60px;

    p { 
      font-family: $font-cursive;
      color: $c-green;
      font-size: 1.5rem;
      margin: 0
    }
  }
}

section.tab.inventory {
  .inv {
    $tile-size: 32px;
    $tile-pos: ($tile-size / 2) * -1;
    display: grid;
    grid-template-columns: repeat(auto-fill, $tile-size * 2);

    background: url("../assets/ui/sheets/actors/explorer/inventory/inv-grid.webp");
    background-repeat: repeat;
    background-position-x: $tile-pos;
    background-position-y: $tile-pos;
    background-size: $tile-size;

    .inv-item { 
      align-items: center;

      width: $tile-size * 2;
      height: $tile-size * 2;

      img {
        width: 46px;
        margin: auto;
      }
    }
  }
}
