// Basic color scheme
$pri: $c-green;
$sec: $c-dark-green;

.sheet.unified.explorer {
  /* Color scheme */

  --background: #{$sec};
  --color-text-primary: #{$pri};
  --color-header-background: #{$sec};
  --color-border: #{$pri};
  .window-header {
    button { --button-text-color: #{$pri}; } 
  }

  /* Extra */
  // border-radius: 0;

  /* Fonts */
  --font-body: #{$font-body};
  
  .sheet-tabs {
    --color-text-primary: #{$sec};
    --color-text-emphatic: var(--color-text-primary);
    background-color: $pri;
    border: none;
  }

  /* Sections */
  section.tab.stats {
    --color-text-primary: red; 
  }
}

.actor-info {
  gap: 6px;
  .flexrow, .form-group { align-items: self-end; }
}

/* Custom form-groups */
.sheet.unified.explorer:has(.form-group) {
  .header-fields {

    label { 
      @extend .lower, .demi, .italic;
      color: $sec;
      padding-left: 4px;
      background-color: $pri;
      vertical-align: bottom;
      height: fit-content; 
    }

    input {
      --input-border-color: #{$pri};
      --input-background-color: #{$sec};
      border-radius: 0;
      width: 12rem; 
    }
  }
}

/* Stats */
.sheet.unified.explorer {
  .stats.flexcol {
    gap: 12px;
    margin: 12px 0;

    label {
      font-size: 2em;
    }
  }
}

section.tab.notes {
  .editor {
    // border-image-slice: 100 126 106 276 fill;
    // border-image-width: 20px 20px 20px 60.1px;
    // border-image-outset: 0px 0px 0px 0px;
    // border-image-repeat: stretch stretch;
    // border-style: solid;
    // border-image-source: url("../assets/art/paper-note.webp");

    height: 250px;
  }

  .editor-content {
    // padding: 16px 16px 16px 60px;

    p { 
      font-family: $font-cursive;
      color: $pri;
      font-size: 1.5rem;
      margin: 0
    }
  }
}
