/* ---------------------------------------- */
/* Override foundry's default layers        */
/* ---------------------------------------- */

:root {
  /* explorer sheet inventory */
  --md6-item-frame-padding: 16px;
  --md6-light-item-frame: url(../assets/ui/sheets/actors/item-bg.png);
}

@layer elements.typography {
  /* ---------------------------------------- */
  /*  Headers                                 */
  /* ---------------------------------------- */
  
  h1, h2, h3, 
  h4, h5, h6
  {
    color: var(--color-text-primary);
  }
  
  .md6 {
    h1, h2, h3, 
    h4, h5, h6
    {
      font-family: $font-body;
      color: var(--color-text-primary);
    }
  }

  /* ---------------------------------------- */
  /*  Dividers                                */
  /* ---------------------------------------- */
  hr {
    background-image: linear-gradient(90deg, $md6-cream 50%, transparent 100%);
  }
}

@layer applications {

}