@use '../utils' as *;

/* ---------------------------------------- */
/* Override foundry's default layers        */
/* ---------------------------------------- */

:root {
  /* ---------------------------------------- */
  /* Colors from scss/utils/colors.scss       */
  /* ---------------------------------------- */
  --tif-white: #fff;

  // Black shades
  --tif-black: #000000;
  --tif-black-80: color(from $tif-black srgb r g b / 0.8);
  --tif-black-60: color(from $tif-black srgb r g b / 0.6);
  --tif-black-30: color(from $tif-black srgb r g b / 0.3);
  --tif-black-10: color(from $tif-black srgb r g b / 0.1);

  // Beige/Cream
  --tif-cream: rgb(208, 199, 182);
  --tif-cream-60: rgba(208, 199, 182, 0.6);
  --tif-cream-30: rgba(208, 199, 182, 0.3);
  --tif-cream-10: rgba(208, 199, 182, 0.1);

  // Blue
  --tif-light-blue-acc: rgba(112, 169, 222);

  --tif-light-blue: rgb(107, 124, 136);

  // Dark Blue
  --tif-dark-blue: rgba(36, 50, 57);
  --tif-dark-blue-80: rgba(36, 50, 57, 0.8);
  --tif-dark-blue-60: rgba(36, 50, 57, 0.6);
  --tif-dark-blue-50: rgba(36, 50, 57, 0.5);
  --tif-dark-blue-30: rgba(36, 50, 57, 0.3);
  --tif-dark-blue-10: rgba(36, 50, 57, 0.1);

  // Red
  --tif-red-acc: rgb(244, 162, 80);

  --tif-red: rgb(217, 59, 19);


  // -------------------------- //

  /* Icon Sizes */
  --tif-icon-sm: 16px;
  --tif-icon-md: 24px;
  --tif-icon-lg: 32px;

  /* explorer sheet inventory */
  --tif-item-frame-padding: 16px;

  --tif-item-frame: url(../assets/ui/sheets/items/frames/item-bg-normal.webp);
  --tif-item-frame-selected: url(../assets/ui/sheets/items/frames/item-bg-select.webp);
  --tif-item-frame-equipped: url(../assets/ui/sheets/items/frames/item-bg-equipped.webp);

  /* Explorer: Se tab */
  --tif-effect-item-gap: 12px;
}

@layer elements.typography {
  /* ---------------------------------------- */
  /*  Headers                                 */
  /* ---------------------------------------- */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text-primary);
  }

  .tif {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $font-body;
      color: var(--color-text-primary);
    }
  }

  /* ---------------------------------------- */
  /*  Dividers                                */
  /* ---------------------------------------- */
  hr {
    background-image: linear-gradient(90deg, $tif-cream 50%, transparent 100%);
  }
}