body {
  --font-header: #{$font-header};
  --font-sans: #{$font-body};
  --font-serif: #{$font-cursive};
}

.window-app {
  font-family: $font-header;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

/* default unfied windows */
.sheet.unified {
  /* Color scheme */

  /* Extra */
  border-radius: 0;
  
  .sheet-tabs {
    --color-text-primary: #{$c-green};
    --color-text-emphatic: var(--color-text-primary);
    background-color: $c-dark-green;
    border: none;
  }

  /* Sections */
  section.tab.stats {
    --color-text-primary: red; 
  }
}
