{{! Sheet Header }}
<header class='sheet-header'>
  <div class='header-fields flexrow'>
    <img class='profile-img'
      src='{{actor.img}}'
      data-edit='img'
      data-action='onEditImage'
      data-tooltip='{{actor.name}}'
      height='64'
      width='64'
    />
    <div class='document-name'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
    </div>
 
  </div>
</header>
