{{! notes Tab }}
<section class='tab notes {{tab.cssClass}}' data-group='primary' data-tab='notes' style="width: 100%; margin-top: 16px">

  <div class="editor">
    <prose-mirror name="system.notes" value="{{system.notes}}" toggled="true">
    {{{enrichedNotes}}}
  </div>

</section>
