@use '../utils' as *;

a {
  &.content-link,
  &.inline-roll { 
    --content-link-background: $md6-dark-blue;
    --content-link-text-color: $md6-dark-blue;
    --content-link-icon-color: $md6-light-blue;
    --content-link-border-color: none;
    
    border-bottom: 1px $md6-light-blue dashed;
 }
}