@use '../utils' as *;

a {
  &.content-link,
  &.inline-roll { 
    --content-link-background: $tif-dark-blue;
    --content-link-text-color: $tif-dark-blue;
    --content-link-icon-color: $tif-light-blue;
    --content-link-border-color: none;
    
    border-bottom: 1px $tif-light-blue dashed;
 }
}