@use '../utils' as *;

// ------------------
// DIVS
// ------------------

.sheet-edit-mode {
  @extend %yellow-stripes;
}

.tif-frame,
%tif-frame {
  $c: $tif-cream-30;
  border: 2px $c solid;
  border-left: 0px;
  border-right: 0px;

  // border-top
  &.bt {
    border-left: 0px;
    border-top: 2px $c solid;
    border-right: 0px;
    border-bottom: 0px;
  }

  &.bl {
    border-left: 2px $c solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }

  &.nbrd {
    border: none
  }

  &.light { @extend %screen-bm; }
  &.dark { 
    @extend %screen-bm;
    background-color: $tif-black-30;
  }
}
