@use '../utils' as *;

// ------------------
// DIVS
// ------------------

.md6-frame,
%md6-frame {
  $c: $md6-cream-30;
  border: 2px $c solid;
  border-left: 0px;
  border-right: 0px;

  // border-top
  &.bt {
    border-left: 0px;
    border-top: 2px $c solid;
    border-right: 0px;
    border-bottom: 0px;
  }

  &.bl {
    border-left: 2px $c solid;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }

  &.nbrd {
    border: none
  }

  &.light { @extend %screen-bm; }
  &.dark { 
    @extend %screen-bm;
    background-color: $md6-black-30;
  }
}
