// "locked aspect ratio" image class
.lar-image {
  height: auto;
  min-width: 64px;
  max-width: 64px;
  flex-shrink: 1;
  object-fit: cover;
}

.tab-icon {
  content: "";
  display: inline-block;
  width: calc(1.5rem*1.2);
  height: calc(1.5rem*1.2);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}