  {{#if (eq selection "active")}}
  <div class="prop-header">
    <img src="{{item.img}}" alt="">
    <h3>{{item.name}}</h3>
  </div>

  <div class="tif-frame light nbrd">
    {{{item.system.description}}}
  </div>

  {{/if}}

  {{#if (eq selection "inactive")}}
    <h3>...</h3>
  {{/if}}