@use '../utils' as *;
.sheet.journal-sheet:not(.journal-entry-page) {
  background-color: $md6-dark-blue-80;
  
  button { 
    --button-focus-outline-color: none;
    --button-hover-background-color: #{$md6-dark-blue};
  }
  
  .window-header, .journal-sidebar {
    --color-light-1: #{$md6-cream};
    
    .window-title {
      font-weight: 600;
    }
    
    input { 
      @extend .chisel-2px;
      --input-background-color: #{$md6-dark-blue-60};
      background-blend-mode: multiply;
      border: none;
    }
  }
  
  /* journal-sidebar */
  .journal-sidebar {
    
  }
}
