/* default TIF windows (ALL) */
@use '../utils' as *;
@use '../components' as *;

body .application,
body.theme-dark .application {

  border-radius: 12px;
  border-width: 2px;

  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  header {
    border-bottom-width: 2px;
  }

  button[type="button toggle-sheet-mode"].fa-wand-magic-sparkles {
    color: $tif-red-acc !important;
  }
  
  &.tif .window-content { padding: 0; }

  .window-content {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  --background: #{$tif-black-60};
  --color-text-accent: #{$tif-cream};
  --color-text-primary: #{$tif-cream};
  --color-text-secondary: #{$tif-cream};
  --color-shadow-primary: #{$tif-cream};
  --color-border: #{$tif-cream-30};
  --color-header-background: none;
  --color-form-label: #{$tif-cream};
  --color-form-hint: #{$tif-cream-60};
  // --color-form-label-hover: #{$c-gold};
  // --color-form-hint-hover: #{$c-cream};
  --color-fieldset-border: #{$tif-cream-30};

  /* ================== */
  /* Button             */
  /* ================== */

  button {
    --button-text-color: #{$tif-cream};
  }

  /* ================== */
  /* Inputs             */
  /* ================== */

  select,
  button,
  input[type=text],
  input[type=number]
  {
    border: 1px solid #{$tif-cream-30};
  }

  input[type=range] {
    --range-track-color: var(--tif-cream-30);
    --range-track-border-color: var(--input-border-color);
    --range-thumb-background-color: rgba(11, 10, 19, 0.9);
    --range-thumb-border-color: var(--color-warm-1);
  }

  input,
  select {
    --input-background-color: #{$tif-black-30};
    --input-text-color: #{$tif-cream};
    --input-placeholder-color: #{$tif-cream-30};
    --input-focus-outline-color: #{$tif-cream-30};

    option {
      background-color: $tif-black;
    }
  }


  nav.sheet-tabs.tabs {
    @extend %tif-frame; @extend .light;
  }

  .scrollable {
    padding-right: 16px;
    scrollbar-width: thin;
    scrollbar-color: $tif-cream transparent;
  }

  nav.tabs {
    border-top: 0;
    border-bottom-color: $tif-cream;
    margin: 10px 0;
    color: $tif-cream;

    text-transform: uppercase;
    justify-content: center;

    &.scrollable,
    &.vertical {
      justify-content: unset;
    }

    [data-tab] {
      color: $tif-cream;
      padding-left: 10px;
      padding-right: 10px;
      line-height: 1.5;
      border: 3px solid transparent;

      &.active {
        color: $tif-cream-30;
        // border-image-slice: 20% 3% 5% 3% fill;
        // border-image-width: 5px 5px 1px;
        // border-image-outset: 0px 0px 0px 0px;
        // border-image-repeat: stretch stretch;
        // border-image-source: url(../assets/decorations/tab-background.svg);
        // border-style: solid;
      }
    }
  }


  footer {
    button {
      @extend %screen-bm;
    }
  }

  a.button,
  button {
    outline: none !important;
    background: #{$tif-black-30};
    border: none;
  }

  a.button:disabled,
  button:disabled {
    cursor: inherit;
  }
  a.button:hover,
  button:hover {
    background: #{$tif-cream};
    color: #{$tif-black};
    border: none;
  }
  a.button:focus,
  button:focus {
    outline: none;
    box-shadow: 0 0 4px #{$tif-cream};
  }
}
