{{! Sheet Header }}
<header class="content-header flexrow">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="onEditImage" data-tooltip="{{actor.name}}"/>
  
  <div class="info flexcol">
    <input name="name" type="text"  value="{{actor.name}}" placeholder="Name"/>
    <div class="flexrow">
  
      {{!-- Custom SVG (dynamic-icons) --}}
      {{> 'systems/miniD6/templates/extra/dynamic-icons.hbs' 
      type="heart-with-number" 
      value=system._source.vigor
      color1="var(--md6-red)" 
      color2="var(--md6-cream)" 
      size="52"
      }}
      {{#if system.playMode}}
        <div class="sheet-edit-mode health-control flexcol" stlye="">
        <a data-action="stepSystemAttr" data-attr="vigor" data-step="+ 1">
          {{> 'systems/miniD6/templates/extra/dynamic-icons.hbs' 
          type="plus" 
          value=system._source.vigor
          color1="var(--md6-red)" 
          size="16"
          }}
        </a>
        <a data-action="stepSystemAttr" data-attr="vigor" data-step="- 1">
          {{> 'systems/miniD6/templates/extra/dynamic-icons.hbs' 
          type="sub" 
          value=system._source.vigor
          color1="var(--md6-red)" 
          size="16"
          }}
        </a>
        </div>

      {{/if}}
    </div>


</div>

</header>
